body {
    background-color: dimgrey;
    font-family: sans-serif;
    color: white;
    font-size: 50px;
}
input {
    min-height: 20px;
    width: 50px;
    border: none;
    padding: 5px;
    font-size: 20px;
    margin-top: 10px !important;
}
button {
    min-height: 15px;
    min-width: 120px;
    border: none;
    padding: 5px;
    font-size: 25px;
    background-color: darkgrey;
    color: white;
    margin-left:40px;
}
form {
    margin-bottom: 50px
}
.tR {
    display:flex;
    flex-direction: row;
}
.nBlc {
    flex-grow: 1;
    width: auto;
    background-color: orange;
    margin: 3px;
    padding: 3px;
    border-radius: 5px
}
.row {
    width: 100%;
    margin: 0 auto;
}
.block {
    display: grid;
    background-color: darkgrey;
    height: 400px;
    width: 400px;
    margin: 20px;
    border-radius: 5px;
}
.dT {
    font-size: 20px;
    margin: 3px;
    width: auto;
    display: inline-block;
}
.cI {
}
}
#sM {
}
#tM {
}
#foot {
    background-color: grey;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 90%;
}
